body {
    font-family: Arial, sans-serif;
    background-color:aliceblue;
margin: 0;
padding: 20px;

}
h1{
    color:dimgray;
    text-align: center;

}
P{
    Color: #34495e;
    font-size: 1.1rem;
    line-height: 1.6;
}
a{
    color:#3498db;
    text-decoration: none;
}
